.nav-container{
background-color: rgba(44, 43, 43, 0.315);
}

.title{
font-weight: 700;
margin-bottom: 0;
color: #0f13a7;
background-color:rgba(44, 43, 43, 0.315) ;
}

.nav-style{
    text-decoration: none;
    color:blue;
    margin: 0 10px;
    font-size: large;
}
